:root {
    --primary: #5ccfe6;
    --secondary: #c3a6ff;
    --background: #1d2433;
    --light-background: #2f3b54;
    --dark-background: #171c28;
    --submit-btn: #bae67e;
    --cancel-btn: #ff903c;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--secondary);
}

button:focus, a:focus, textarea:focus {
    outline: none;
}

.nav {
    background-color: #171c28;
}

.body {
    background-color: var(--background);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.header {
    border: 1px solid orange;

}

.header-div {
    width: 100%;
    max-width: 550px;
}

.post-card-header {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 0 10px 0;
}

.header-txt {
    align-self: flex-start;
    width: 100%;
    max-width: 550px;
    color: var(--primary);
}

h3 {
    position: relative;
    top: 9px;
}

.profile-header-txt {
    white-space: nowrap;
    overflow: visible;
    color: var(--primary);
}

.card {
    border-radius: 15px;
    width: 550px;
    margin-top: 15px;
    padding: 3px 0 1px 15px;
    background-color: var(--light-background);
}

.profile-card {
    min-height: 250px;
}

.profile-header {
    align-items: center;
}

.profile-picture-base {
    border-radius: 100px;
    margin: 10px 0px 0px 0px;
}

.picture-large {
    height: 115px;
    width: 115px;
}

.picture-small {
    height: 50px;
    width: 50px;
}

.counts {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-grow: 1;
    font-size: 1.5rem;
}

.counts p {
    margin: 25px 0 0 0;
    font-weight: 500;
}

.bio {
    padding: 5px 5px 0px 5px;
    margin: 0px;
    overflow-y: auto;
    word-wrap: break-word;
}

.post-form {
}

.form-textarea {
    background-color: #8695b7;
    color: whitesmoke;
    align-self: center;
    margin: 5px 0;
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    resize: none;
    width: 97%;
}

.posts-div {
    flex-grow: 1;
}

.btn-base {
    border: none;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 10px 0px;
    font-weight: 600;
}

.submit-btn {
    background-color: var(--submit-btn);
}

.cancel-btn {
    background-color: var(--cancel-btn);
}

.comments-div {
    margin: 25px 0 0 0;
}

.comment-div {
    margin: 0 15px 6px 0;
    border-radius: 15px;
    padding: 6px 0 1px 15px;
    background-color: var(--dark-background);
}

/* testing */
.reply-header-div {
    align-items: baseline;
    margin-bottom: 2px;
}

.reply-header p {
    margin: 0;
    font-size: 0.7rem;
    color: grey;
    display: inline-flex;
    gap: 5px;
    margin: 0px;
}

/* buttons */

.edit-btn {
    background-color: var(--light-background);
    border: none;
    color: #c3a6ff;
}

.comment-edit-btn, .reply-btn {
    background-color: var(--dark-background);
    color: #c3a6ff;
    border: none;
}

a.edit-btn {
    margin: 5px;
}

.edit-btn:hover {
    cursor: pointer;
}

.post-interact-btn {
    border: none;
    background-color: inherit;
    font-size: 1.3rem;
}

.interact-div {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: 4px 0px 5px 0px;
}

.count {
    margin-right: 10px;
}

.char-count-div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.timestamp-txt {
    font-size: 0.7rem;
    color: grey;
    margin: 0;
}

/* Utility */

.flex {
    display: flex;
}

@media (max-width: 768px) {
    .body {
        padding: 5px; 
    }

    .card {
        width: 450px;
        padding: 10px;
    }

    .profile-card .flex {
        gap: 15px;
    }

    .profile-header {
        flex-direction: column;
        text-align: center;
    }

    .counts {
        gap: 15px;
    }

    .counts p {
    }

    .picture-large {
        height: 90px;
        width: 90px;
    }
    
    .header-txt {
        font-size: 1.5rem; /* Reduce header font size */
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .post-card-header h3 {
        font-size: 1.1rem;
    }

    .form-textarea {
        margin-left: 5px;
    }

    .form-group input {
        width: 100%;
    }
}