{% extends "network/layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="profile-card">
        <div class="flex">
            <div class="profile-header">
                <img src="{{ user_obj.profile.display_picture }}" class="profile-picture" alt="Profile picture for {{ user_obj.profile.username }}">
                <div>
                    <h1 class="profile-header-txt">{{ user_obj.username }}</h1>
                </div>
            </div>
            <div class="counts">
                <div>
                    <p>Followers:</p>
                    <!--TODO: update count in the UI on follow-->
                    <strong id="follower-count">{{ user_obj.profile.follower_count }}</strong>
                </div>
                <div>
                    <p>Following: </p>
                    <strong id="following-count">{{ user_obj.profile.following_count }}</strong>
                </div>
                <div>
                    <p>Posts: </p>
                    <strong id="post-count">{{ user_obj.profile.post_count }}</strong>
                </div>
            </div>
        </div>
        <div class="bio">
            {% if user_obj.profile.bio %}
                <p>{{ user_obj.profile.bio }}</p>
            {% endif %}
        </div>
        <div class="post-interact-div">
            {% if user.is_authenticated %}
                {% if user_obj.username != user.username %}
                    <button class="btn btn-outline-primary"
                        id="toggle-follow-btn"
                        data-username="{{ user_obj.username }}"
                        data-isfollowing="{% if is_following %}true{% else %}false{% endif %}">
                        {% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
                {% elif user_obj.username == user.username %}
                    <a class="edit-btn" href="{% url 'profile_setup' %}">Edit profile</a>
                {% endif %}
            {% else %}
                <p class="alert-div">Log in to follow!</p>
            {% endif %}
        </div>
    </div>

    {% include "network/partials/load_posts.html" with page_obj=page_obj %}
{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
